*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 10px;
    width: 100%;
}

.font-f1 {
    font-family: 'Josefin Sans', sans-serif;
}

.font-f2 {
    font-family: sans-serif, sans-serif;
}

.font-1 {
    font-size: 4rem;
}

.font-2 {
    font-size: 2rem;
}

.text-yellow {
    color: #fbd236;
    ;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.bg-black {
    background-color: #2b2f35;
    ;
}

.bg-lightgray {
    background-color: rgb(240, 231, 231);
}

.a-left {
    text-align: left;
}

.a-Right {
    text-align: right;
}

.bg-gray {
    background-color: #f5f9fa;
}

.w-1 {
    width: 30%;
}

.in-Table {
    display: inline-table;
}
.a-center{
    text-align: center;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.clear::after {
    display: table;
    content: "";
    clear: both;
}

.border-1 {
    border-bottom: 1px solid rgb(133, 133, 133);
}

.m-1 {
    margin-left: 1.5rem;
}

.m-2 {
    margin-top: 2rem;
}

.m-3 {
    margin-right: 1rem;
}

.p-1 {
    padding: 2rem;
}

.p-2 {
    padding: 3rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding-top: 1rem;
}

.h-1 {
    height: 60vh;
}

input {

    border: none;
    border-radius: 7px;
    padding: 1rem 0rem;
    width: 100%;
    color: rgb(133, 133, 133);
    margin-top: 1rem;
}

.input-button {
    padding: 1rem 0rem;
    border-radius: 7px;
    border: none;
    background-color: #ebf3f1;
    color: #4db194;
    width: 100%;
    margin-top: 0.5rem;

}

section {
    border-radius: 7px;
    padding: 1.5rem;
}
.inline{
    display: inline;
}

h2 {
    /* padding: 1rem; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 2rem;
        
}

ul {
    margin-top: 5rem;
}

ul li {
    list-style-type: none;
    padding: 1rem;
    text-align: left;
    font-size: 1.6rem;
    font-family: sans-serif, sans-serif;
    background-color: #fbfbfb;
    padding: 1rem;
    margin-top: 1rem;
}

button {
    margin-left: 1rem;
    float: right;
    background-color: #ebf3f1;
    color: #4db194;
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
}

button:hover {
    background-color: rgb(133, 133, 133);
}

body {
    background-color: white;
}

.complete>li {
    text-decoration: line-through;
    opacity: 0.5;
}
#display{
    float: right;
    background-color: #ebf3f1;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
    color:#4db194 ;
}
