*,
*::after,
*::before{
    padding:0;
    margin:0;
}
html,body{
    font-size: 10px;
    width: 100%;
}
.font-f1{
    font-family: 'Josefin Sans', sans-serif;
}
.font-f2{
    font-family: sans-serif, sans-serif;
}
.font-1{
    font-size: 4rem;
}
.font-2{
    font-size: 2rem;
}
.text-orange{
    color: orange;
}
.text-white{
    color: white;
}
.bg-black{
    background-color: black;
}
.bg-lightgray{
    background-color: rgb(240, 231, 231);
}
.a-center{
    text-align: center;
}
.a-left{
    text-align: left;
}
.a-Right{
    text-align: right;
}
.bg-gray{
    background-color:rgb(232, 224, 224);
}
.w-1{
    width: 32%;
}
.in-Table{
    display: inline-table;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
.clear::after{
    display: table;
    content: "";
    clear: both;
}
.m-1{
    margin-left: 1.5rem;
}
.m-2{
    margin-top: 2rem;
}
.p-1{
    padding: 2rem;
}
.p-2{
    padding: 3rem;
}
.p-3{
    padding: 1rem;
}
.p-4{
    padding-top: 1rem;
}
.h-1{
    height: 60vh;
}
input{
    outline: none;
    border: none;
    padding: 0.5rem;
    width: 95%;
}
.input-button{
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    background-color: rgb(121, 180, 228);
    color: white;
    width: 95%;

}
section{
    border-radius: 7px;
}
h2{ 
    background-color: black;
    padding: 1rem;

}
ul li{
    list-style-type: none;
}
ul li i{
    font-size: 2rem;
}